#atitle{
  text-align:center;
  width: 100%;
}

#listarea{
  background-color: #5c738b;
}

#inputarea{
  text-align:center;
  width: 100%;  
}

.high{
  color:red;
}

.medium{
  color:yellow;
}

.low{
  color:green;
}

.done{
  text-decoration: line-through;
}

