header{
  position: fixed;
  top: 0px;
  left: 0px;
  }
  
Section{
  position: relative;
  left: 0;
  top: 70;
  text-align: center;
  }
  
section.left{
  float:left;
  }
section.right{
  float.right;
  }
  
footer{
  clear:both;
  }
