body{
  margin: 0px;
}

div {
  position:absolute;
}


div.heading{
  position: absolute;
  margin-left: 0px;
  margin-right: 0px;
  width:100%;
}

div.heading-top{
  position: absolute;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

div.heading-bottom{
  margin-left: 0px;
  margin-right: 0px;
  top: 150px;
}


header{
  position: fixed;
  top: 0px;
  left: 0px;
  }
  
Section{
  margin-top: 20px;
  text-align: center;
  float: left;
  width:50%;
  }
  
section.left{
  background-color:blue;
  }
section.right{
  background-color:silver;
  }
  
footer{
  position: relative;
  top:70px;
  clear:both;
  }
