body{
  margin: 0px;
}

div {
  position:absolute;
}

head{
	display:none;
}

#text2{
	color: white;
	
}

#text3{
	color: white;
}


div.heading{
  position: absolute;
  margin-left: 0px;
  margin-right: 0px;
  width:100%;
}

div.heading-top{
  position: absolute;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

#text1 {
	display:inline-block
}

div.heading-bottom{
  margin-left: 0px;
  margin-right: 0px;
  top: 150px;
  width: 100%;
  text-align: center;
}

div.middle{
  margin-left: 0px;
  margin-right: 0px;
  top: 270px;
  width: 100%;
  text-align: center;
}
div.descriptors{
	width: 100%;
	text-align: center;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    }


header{
  position: fixed;
  top: 0px;
  left: 0px;
  }
  
Section{
  margin-top: 20px;
  text-align: center;
  float: left;
  width:50%;
  }
  
section.left{
  background-color:blue;
  }
section.right{
  background-color:silver;
  }
  
footer{
  position: relative;
  top:70px;
  clear:both;
  }
  
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
  	margin: 0px 10px 10px 0px;
  	float: center;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	background-color:#476e9e;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:20px;
	font-weight:bold;
	padding:12px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background-color:#7892c2;
}
.myButton:active {
	position:relative;
	top:1px;
}

.login-button {
	float: right;
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
	position: relative;
	top:15px;
	right: 10px;
}
.login-button:hover {
	background-color:transparent;
}
.login-button:active {
	position:relative;
	top:16px; /* this must be 1px more than .login-button top attribute */
}

