section.H {
background-color: red }
section.H {
color: white}


section.M{
background-color: orange }
section.M {
color: white}


section.L{
background-color: gray }
section.L{
color: black}


section.D{
background-color: black }
section.D {
color: #00ffff}
